html {
    position: relative;
    min-height: 100%;
}
body {
    margin-bottom: 60px; /* Margin bottom by footer height */
}
header {
    width: 100%;
    height: 200px;
    background: url("/images/602206_10102231462258678_1783641411_n.jpg") center center no-repeat;
    background-size: cover;
}
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px; /* Set the fixed height of the footer here */
    line-height: 60px; /* Vertically center the text there */
    background-color: #f5f5f5;
}