{% extends 'base.html.twig' %}

{% block title %}About{% endblock %}


{% block body %}
<div class="container">
    <div>
        <h1>About</h1>
    </div>
    <p>
        {{ user_data }}
    </p>
</div>
{%  endblock %}

{% block javascripts %}
    <script>
        $('#js-nav-about').addClass('active');
    </script>
{%  endblock %}
