{% extends 'base.html.twig' %}

{% block title %}Coding is Hard | Blog Home{% endblock %}


{% block body %}
    <div class="container">
        <h1>Blog</h1>
        <p>
            Blog articles go here...
        </p>
        <div class="card-columns">
{% for article in articles %}
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">{{ article.title }}</h5>
                    <h6 class="card-subtitle mb-2 text-muted">{{ article.subtext }}</h6>
                    <p class="card-text">{{ article.summary }}</p>
                    <a href="/blog/{{ article.slug }}" class="card-link">Card link</a>
                </div>
            </div>
{% endfor %}
        </div>
</div>
{%  endblock %}

{% block javascripts %}
    <script>
        $('#js-nav-blog').addClass('active');
    </script>
{%  endblock %}
