{% extends 'base.html.twig' %}

{% block title %}Coding is Hard | {{ title }}{% endblock %}


{% block body %}
    <div class="container">
        <h1>{{ title }}</h1>
        <p>
            Blog articles go here...
        </p>
        <div class="card-columns">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">Article 1</h5>
                    <h6 class="card-subtitle mb-2 text-muted">Article about something</h6>
                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                    <a href="/blog/1" class="card-link">Card link</a>
                </div>
            </div>
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">Article 2</h5>
                    <h6 class="card-subtitle mb-2 text-muted">Article about something</h6>
                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec gravida sed eros id porttitor.</p>
                    <a href="/blog/2" class="card-link">Card link</a>
                </div>
            </div>
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">Article 3</h5>
                    <h6 class="card-subtitle mb-2 text-muted">Article about something</h6>
                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec gravida sed eros id porttitor.</p>
                    <a href="/blog/3" class="card-link">Card link</a>
                </div>
            </div>
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">Article 4</h5>
                    <h6 class="card-subtitle mb-2 text-muted">Article about something</h6>
                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec gravida sed eros id porttitor. Donec gravida sed eros id porttitor.</p>
                    <a href="/blog/4" class="card-link">Card link</a>
                </div>
            </div>
        </div>
</div>
{%  endblock %}

{% block javascripts %}
    <script>
        $('#js-nav-blog').addClass('active');
    </script>
{%  endblock %}
