{% extends 'base.html.twig' %}

{% block title %}Coding is Hard | {{ title }}{% endblock %}


{% block body %}
<div class="container">
    <h1>{{ title }}</h1>
    <div id="contents">{{ post | raw }}</div>
</div>
{%  endblock %}

{% block javascripts %}
    <script>
        $('#js-nav-blog').addClass('active');
    </script>
{%  endblock %}
