{% extends 'base.html.twig' %}

{% block title %}Coding is Hard | {{ title }}{% endblock %}


{% block body %}
<div class="container">
    <h1>{{ title }}</h1>
    <div>
         Nam consectetur dui vel enim vulputate sollicitudin. Aliquam porttitor urna quis dui bibendum mollis. Mauris pharetra tempus ante. Nam porta, lectus vel hendrerit egestas, metus orci consectetur lorem, eget egestas augue massa in tortor. Aliquam semper elit eget nulla tempus eleifend. Nulla porttitor consequat consectetur. Mauris ornare leo turpis, quis semper diam blandit at. Integer nunc erat, pulvinar vel lectus id, imperdiet auctor nibh. Vivamus tristique velit vel eleifend rhoncus. Phasellus at nulla sit amet quam pharetra ornare sed congue dui.
    </div>
    <p>
        Suspendisse porta aliquet libero, quis euismod ex blandit ut. Suspendisse at fringilla ante. Suspendisse a leo neque. Donec consequat sollicitudin commodo. Aliquam efficitur ac justo ut pellentesque. Nulla fermentum et odio sit amet ullamcorper. Proin suscipit orci a mattis maximus. Interdum et malesuada fames ac ante ipsum primis in faucibus. Donec placerat tellus sed risus vulputate rutrum. Curabitur porttitor, nibh a laoreet ultricies, ipsum velit condimentum arcu, ac ultrices est ipsum sed metus. Suspendisse mattis, nunc eu varius euismod, lorem ante posuere purus, cursus molestie risus turpis id urna.
    </p>
    <p>
        Ut augue mauris, rutrum vitae varius ut, mattis quis eros. Sed eget nunc quis arcu feugiat luctus. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Nunc massa augue, ultrices in elit in, sodales varius nisi. Ut ornare, arcu eu hendrerit malesuada, mauris ex vulputate massa, a mollis turpis leo sit amet diam. In venenatis lacinia ultricies. Morbi dignissim scelerisque accumsan. In hendrerit urna a felis imperdiet, in rutrum massa posuere. Nam sit amet vestibulum tortor. Nullam cursus congue metus quis finibus. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Pellentesque euismod, arcu eu malesuada porta, dui ex interdum ex, at viverra justo quam id nisi. Donec vitae mollis dolor. Etiam mattis, felis ut fermentum interdum, turpis velit sodales magna, ut condimentum augue velit viverra tortor. Etiam commodo pellentesque libero pretium tincidunt.
    </p>
    <p>
        Sed in odio lorem. Sed at lectus ut arcu bibendum venenatis. Suspendisse potenti. Proin semper ut arcu sit amet porttitor. Cras rutrum diam sit amet ligula faucibus feugiat. Pellentesque leo purus, cursus id eleifend id, molestie vulputate leo. Sed vel velit tempor, egestas odio sit amet, vulputate urna. Aenean et semper neque. Cras rutrum mauris nec dignissim tristique. Donec sem est, pellentesque vel lorem non, pellentesque lacinia justo. Integer mollis mauris vitae metus scelerisque malesuada. Quisque non nulla id tellus pretium rhoncus lobortis a purus. Fusce euismod aliquet felis.
    </p>
    <p>
        Ut aliquam nisl tellus, nec pulvinar sapien ultricies non. Fusce at eleifend diam. Aliquam erat volutpat. Aliquam erat volutpat. Cras vitae leo nisi. Praesent sed lacus pharetra, mattis ex et, gravida odio. Praesent mollis ligula vel purus imperdiet accumsan. Curabitur ultrices enim lectus, a imperdiet ipsum ultricies eget. Fusce et leo eleifend, venenatis eros quis, faucibus ante. Nam a sodales est. Vestibulum aliquet varius enim, congue lobortis sapien varius eu.</p>
    </p>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                One of three columns
            </div>
            <div class="col-md-4">
                One of three columns
            </div>
            <div class="col-md-4">
                One of three columns
            </div>
        </div>
    </div>
</div>
{%  endblock %}

{% block javascripts %}
    <script>
        $('#js-nav-blog').addClass('active');
    </script>
{%  endblock %}
