{% extends 'base.html.twig' %}

{% block title %}Contact{% endblock %}


{% block body %}
    <div class="container">
        <div>
            <h1>Contact</h1>
        </div>
        <p>
            You can reach me at <a href="mailto:tom.troyer@gmail.com">tom.troyer@gmail.com</a>
        </p>
    </div>
{%  endblock %}

{% block javascripts %}
    <script>
        $('#js-nav-contact').addClass('active');
    </script>
{%  endblock %}
